{
	servers {
		trusted_proxies static private_ranges
	}
}

:7000

root * /app/frontend_dist

handle /api/* {
	reverse_proxy 127.0.0.1:8000
}

handle /admin/* {
	reverse_proxy 127.0.0.1:8000
}

handle /static/* {
	reverse_proxy 127.0.0.1:8000
}

handle {
	try_files {path} /index.html
	file_server
}
